:root {
    background-color: #515DC6;
}

.title {
    font-family: 'Nobile', sans-serif;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    justify-self: center;
    margin-top: 50px;
    margin-bottom: 15px;
    color: #ffffff;
    word-spacing: 15px;
}

.search {
    background-color: white;
    margin-bottom: 23px;
    height: 46px;
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.35);
}

.searchText {
    font-size: 12px;
    font-family: 'Nobile', sans-serif;
    font-weight: normal;
    color: #ACBAC8;
    margin-left: 17px;
}

.whiteCover {
    background-color: white;
    width: 100%;
    height: 670px;
    left: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}


.shortcuts {
    font-family: 'Nobile', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #434B65;
    margin-left: 18px;
    padding-top: 32px;
    margin-bottom: 8px
}

.selectedStation {
    font-family: 'Nobile', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #434B65;
    margin-left: 18px;
    padding-top: 32px;
    margin-bottom: 8px
}

.veloStationsList {
    font-family: 'Nobile', sans-serif;
    color: #434B65;
    font-size: 20px;
    font-weight: bold;
    margin-left: 18px;
    padding-top: 32px;
    margin-bottom: 8px
}

.number {
    font-family: 'Nobile', sans-serif;
    color: #ACBAC8;
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 20px;
}

.astridBox {
    background-color: #FCFCFD;
    width: 90%;
    height: 46px;
    display: flex;
    align-items: center;
    border: 1px solid #ACBAC8;
    border-radius: 15px;
    margin-bottom: 15px;
    margin-left: 18px;
}

.astridBox:hover {
    background-color: #515DC6;
    color: white;
    border: 1px solid #515DC6;
    box-shadow: 0 5px 15px rgba(81, 93, 198, 0.75);
    transition: color 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

.astridBox:not(:hover) {
    transition: color 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

.CentralAstrid {
    font-family: 'Nobile', sans-serif;
    font-size: 14px;
    text-decoration: none;
}

.groenplaatsBox {
    background-color: #FCFCFD;
    width: 90%;
    height: 46px;
    display: flex;
    align-items: center;
    border: 1px solid #ACBAC8;
    border-radius: 15px;
    margin-left: 18px;
}

.groenplaatsBox:hover {
    background-color: #515DC6;
    color: white;
    border: 1px solid #515DC6;
    box-shadow: 0 5px 15px rgba(81, 93, 198, 0.75);
    transition: color 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

.groenplaatsBox:not(:hover) {
    transition: color 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

.groenPlaats {
    font-family: 'Nobile', sans-serif;
    font-size: 14px;
    margin-right: 70px;
}

.paleisBox {
    background-color: #FCFCFD;
    width: 90%;
    height: 46px;
    display: flex;
    align-items: center;
    border: 1px solid #ACBAC8;
    border-radius: 15px;
    margin-bottom: 15px;
    margin-left: 18px;
    margin-top: 15px;
}

.paleisBox:hover {
    background-color: #515DC6;
    color: white;
    border: 1px solid #515DC6;
    box-shadow: 0 5px 15px rgba(81, 93, 198, 0.75);
    transition: color 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

.paleisBox:not(:hover) {
    transition: color 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

.paleis {
    font-family: 'Nobile', sans-serif;
    font-size: 14px;
    margin-right: 83px;
}

.zeroOneImg {
    height: 35px;
    height: 35px;
    margin-left: 5px;
    margin-right: 17px;
}

.twentyImg {
    height: 35px;
    height: 35px;
    margin-left: 5px;
    margin-right: 17px;
}

.nineFourImg {
    height: 35px;
    height: 35px;
    margin-left: 5px;
    margin-right: 17px;
}

.closedImg {
    height: 13px;
    width: 19px;
    margin-left: 71px;
}

.heartImg {
    height: 20px;
    width: 22px;
    margin-left: 71px;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 75px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #ACBAC8;
}

.currentMenu {
    height: 45px;
    width: 45px;
    background-color: #515DC6;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(81, 93, 198, 0.75);
}

.homeImg {
    height: 20px;
    width: 22px;
}

.bikeImg {
    height: 18px;
    width: 26px;
}

.whiteBikeImg {
    height: 18px;
    width: 26px;
}

.walletImg {
    height: 20px;
    width: 22px;
    opacity: 25%;
}

.settingsImg {
    height: 22px;
    width: 22px;
    opacity: 25%;
}

.stationInfo {
    font-size: 14px;
    font-family: 'Nobile', sans-serif;
    margin-left: 20px;
    margin-top: 23px;
    margin-bottom: 10px;
    color: black;
}

.infoBoxes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

.infoBox {
    width: 161px;
    height: 161px;
    margin-bottom: 10px;
    border: 1px solid #ACBAC8;
    border-radius: 10px;
}

.smallBox {
    width: 161px;
    height: 37px;
    background-color: #515DC6;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.smallBoxText {
    color: white;
    font-family: 'Nobile', sans-serif;
    font-size: 12px;
    font-weight: bold;
}

.infoCode {
    display: flex;
    justify-content: center;
    font-family: 'Nobile', sans-serif;
    font-size: 35px;
    font-weight: bold;
    margin-top: 37px;
}

a {
    text-decoration: none;
    color: inherit;
}

.nameHeart{
    display: flex;
}

.hearted{
    padding-top: 32px;
}